{% extends "blog/base.html" %}
{% block title %}PostDetail{% endblock %}
{% block content %}
<br>
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Post Detail　<a href="{% url 'blog:post_list' %}" class="btn btn-sm btn-primary">戻る</a></h5>
  </div>
  <div class="card-body">
        <form method="POST" action="{% url 'blog:post_create' %}">
            {% csrf_token %}
            {{ form_non_field_errors }}
            <table class="table table-bordered table-sm table-striped">
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-primary btn-sm">送信</button>
        </form>
  </div>
</div>

{% endblock %}